<div class="list-ul">
  <h2 class="list-ul__heading">{{ section.settings.heading }}</h2>
   {% for block in section.blocks %}
     <ul>
       {%  for block in section.blocks %}
       <li>{{ block.settings.text_item }}</li>
       {% endfor %}
     </ul>
    {% endfor %}
    {% if section.settings.show_block %}
        <p>{{ section.settings.show_block }}</p>
    {% endif %}

  {% case section.settings.radio_color %}
    {% when "red" %}
    <div style="color: red; font-size: {{ section.settings.font_size }}"> Chọn màu đỏ</div>
      {% when "blue" %}
    <div style="color: blue ; font-size: {{ section.settings.font_size }}"> Chọn màu xanh</div>
      {% when "yellow" %}
    <div style="color: yellow ; font-size: {{ section.settings.font_size }}"> Chọn màu vàng</div>
  {% endcase %}
  <span class="he">Hello</span>
  <span>{{ section.settings.font_size }}</span>
</div>
<style>
  .he {
    font-size: {{ section.settings.font_size }};
  }
</style>
{% schema %}
  {
    "name" : "List UL",
    "settings": [
      {
        "type": "text",
        "id" : "heading",
        "label": "Heading",
        "default": "this is Heading"
      },
      {
        "type": "number",
        "id": "show_block",
        "label" : "show Block"
      },
      {
        "type": "range",
        "id": "font_size",
        "label": "font size",
         "min": 14,
        "max": 56,
        "step": 2,
        "default": 16,
        "unit": "px"
      },
      {
        "type": "radio",
        "id": "radio_color",
        "label": "Choose Color",
        "options": [
          {
            "value": "red",
            "label": "red"
          },
                    {
            "value": "blue",
            "label": "Blue"
          },
                    {
            "value": "yellow",
            "label": "Yellow"
          }
        ]
      }
    ],
    "blocks" : [
      {
        "type": "column",
        "name": "Column",
        "settings" : [ 
          {
          "type": "text",
          "id": "text_item",
          "label" : "Item",
          "default": "This is li"
        }]

      }
    ],
    "presets": [
      {
        "name": "List Ul"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}